<div class="center hero-unit">

 <h1>Welcome to the Survey App</h1>

 <h2>
  This is the home page for the Survey sample application.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("images.jpeg", alt: "Survey"),
   'http://cloud4good.com/wp-content/uploads/2012/06/Survey.jpg/' %>
